
.background {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-clip: text;
    height: 100vh;
    font-weight: bold;
    font-size: 17rem;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    
    
&:before {
    content: '';
    background-image: inherit;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    }

}

.backgroundSpan{
    margin-top: 200px;
    text-align: center;
}