body{
    font-family: 'Times New Roman', Times, serif;
    background-color: RGB(249, 250, 251);
    margin: 0%;
    padding: 0%;
    background-repeat:repeat;
    color: rgb(46, 46, 46);
    overflow-x: hidden;
    background-color: rgb(245, 245, 245);
}


input,
textarea,
button,
select,
a{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/********Override bootstraps annoying box sizing************/
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


html {
    scroll-behavior: smooth;
  }

#header{
    
    display: flex;
    flex-direction: column;
}


.totalNone{
    display: none;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    font-size: larger;
    text-transform:uppercase;
    background-color: transparent;    
    position: absolute;
    padding: 0%;
    z-index: 100;
    width: 100%;
    background: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur( 10.5px );
    letter-spacing: 0.2rem;

}

a.nav-link{
  position: relative;
  text-decoration: none;
  color: rgb(50, 51, 53);
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  letter-spacing: 0.3em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: 0.3s all ease-in-out;
}


.homeButtonToHide{
    display: none;
}



#header-img{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 600px;

}






.nav-bar ul{
    display:flex;
    flex-direction: row;
    padding: 0%;
    margin:0px;

}

.nav-bar li{
list-style: none;
padding-bottom: 0%;

padding: 1em;

}




    
.logo{
    max-width: 130px;
    padding-left: 10px;
    background-color: transparent;
    position: relative;
    align-items: center;
    

}

.logo {
    background-color: transparent;
    -webkit-filter: drop-shadow(-1px -1px 4px rgba(168, 170, 170, 0.301));

}


.navItems:hover{
    -webkit-filter: drop-shadow(1px 2px 1px rgb(0, 187, 1710));
    filter: drop-shadow(1px 2px 1px white); 
}

.logo:hover {
    filter: drop-shadow(0px 2px 3px white);
    
}

/*****************Footer**********************/
.mainfooter{
    background-color: #232422;    
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    padding-top: 50px;
}
.mainfooter p{
    position: relative;
    align-items: center;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.3rem;
    width: 700px;
    padding-top: 50px;
    margin-top: 0%;
}


.footerUL{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    border-right: rgb(0, 204, 255) solid 1px;
    padding-right: 50px;
    height: 150px;
}



@media (max-width: 1200px) {
  .footerUL{
    margin-right: 10px;
    padding-right: 10px;
  }


}

.footerUL li{
list-style:none;
text-align: left;
padding-top: 10px;
letter-spacing: 0.1rem;
}

.FooterAllULcontainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;

}

.footerUL h3 {
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
    text-align: left;
    font-size:x-large;
    color: rgba(255, 255, 255, 0.815);
    letter-spacing: 0.2rem;

}

.logoInFooter{
    height: 100px;
    filter: drop-shadow(0px 2px 3px rgb(212, 212, 212));

    }


.logoInFooter:hover{
    filter: drop-shadow(0px 2px 3px white);

}

.footerUL a{
    color: rgb(0, 204, 255);
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.2rem;

}

.footerUL a:hover{
  color: rgb(0, 235, 243);

}

a.footerLink{
    position: relative;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;    
    font-size: 12px;
    

}

a.footerLink:before{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid   rgb(0, 235, 243);}

a.footerLink:hover:before {
  visibility: visible;
  width: 100%;

}



/************Landing page***********/

.landingPageGalleryContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    
}


.landingPageGalleryContentContainer{
    display: flex;
    text-align: left;
    flex-flow: column wrap;
    margin: 10px;
    letter-spacing: 0.2rem;
    margin: auto;
    text-align: center;
    max-width: 1200px;
   background-color: aliceblue;
    
}


    
.contact-on-landing-page{ 
display: flex;
text-align: left;
flex-flow: column wrap;
margin: 10px;
letter-spacing: 0.2rem;
margin: auto;
align-items: center;
text-align: center;
max-width: 800px;
margin-bottom: 100px;
}


.landingPageGalleryContentContainer img{
  max-height: 700px;
  max-width: 600px;
}



.images-landing-page img{
    padding: 0px;  
  margin: 0%;
}

.landingPageGalleryContentContainer h3{
    margin-top: 70px;
}

.landingPageGalleryContentContainer p{
    margin: 20px;
    text-align: left;
}



.container-landing-page-bck-weddings{
  background-image: url(images/weddingsbcg.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  padding: 0%;
  margin: 0%;
  padding-top: 50px;
  background-color: #3c3c3c;
}

.container-landing-page-bck-casual{
  padding: 0%;
  margin: 0%;
  background-color: rgb(255, 255, 255);
  background-image: url(images/casualeentsbcg.svg);
  background-size:  100%  ;
  background-repeat: no-repeat; 
  background-position: top;
  padding-top: 50px;
}

.container-landing-page-bck-services{
  background-color: #3c3c3c;
  background-image: url(images/servicesbcgnew.svg);
  background-size:  100%  ;
  background-repeat: no-repeat; 
  background-position: top;
  padding: 0%;
  margin: 0%;
  padding-top: 50px;

}

.container-landing-page-bck-events{
  background-color: white;
  background-image: url(images/casualeentsbcg.svg);
  background-size:  cover ;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0%;
  margin: 0%;
  margin-bottom: 0px;
}

.container-landing-page-bck-swiper{
  padding: 0%;
  margin: 0%;
  background-color: #fff;
  background-image: url(images/swiperbck.svg);
  background-size:  100%  ;
  background-repeat: no-repeat; 
  background-position: bottom;
  padding-top: 50px;
  
}



.container-landing-page-bck-black-contact{
  background-color: white;
  padding: 0%;
  margin: 0%;
  padding-top: 50px;
  z-index: 0;

}


.landing-page-image{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.landing-page-image img{
  transition: 0.5s all ease-in-out;
  width: 600px;
  object-fit: cover;
  height: auto;
}

.img-zoom{
  position: relative;
  z-index: 0;
}

.img-zoom:hover{
  transform: scale(1.2);
  
}

.landing-page-text{
  
  padding-left: 0%;
  display: flex;
  flex-direction: column;
  width: 600px;
  z-index: 1;
  background-color: aliceblue;
}


@media (max-width: 1200px) {
  .landing-page-image{
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    text-align: center;    
    margin: auto;

  }
  .landing-page-image p{
    padding: 10px;
  }


  .landing-page-image-smaller{
    flex-direction: column-reverse;
  }
  
.landing-page-text{  
  width: 350px;
  margin: 10px;
}

.img-zoom:hover{
  transform:none;

}
.landingPageGalleryContentContainer p{
  margin: 0;
}

.contact-on-landing-page{
  margin-bottom: 0px;
}

}


.calendarh3{
  color: white;
}

/*************Landing page button on calendar***************/


.button-landing-page-calendar{
  -webkit-appearance: none;
    height: 50px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: rgb(3, 193, 240) solid 1px;
    text-align: center;
    margin: 30px 70% 20px ;
    letter-spacing: 0.1em;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s all ease-in-out;

}

.button-landing-page-calendar:hover{
    content: '';
    position: relative;
    vertical-align: middle;
    width: 300px;
    height: 50px;
    letter-spacing: 0.3em;
    
    padding-left: 50px;

}

.button-landing-page-calendar::before{
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 45%;
  left: 10px;
  background-color: rgb(3, 193, 240);
  visibility: hidden;
  transition: all 0.3s ease-in-out;

}



.button-landing-page-calendar:hover:before {
  visibility: visible;
  width: 18%;
  margin-left: -30px;
}




/**********Button casual************/
.button-landing-page-casual{
  -webkit-appearance: none;
    height: 50px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: rgb(3, 193, 240) solid 1px;
    text-align: center;
    margin: auto 45% 20px;
    transition: 0.3s all ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;

}


.button-landing-page-casual:hover{
  position: relative;
  vertical-align: middle;
  width: 300px;
  height: 50px;
  letter-spacing: 0.3em;
  
  padding-left: 50px;

}

.button-landing-page-casual::before{
display: block;
content: "";
position:absolute;
width: 0;
height: 1px;
bottom: 50%;
left: 10px;
background-color: rgb(3, 193, 240);
visibility: hidden;
transition: all 0.3s ease-in-out;

}



.button-landing-page-casual:hover:before {
visibility: visible;
width: 20%;
margin-left: -30px;
}

/***********Button on cards landing page*****************/


.button-landing-page{
  -webkit-appearance: none;
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: rgb(3, 193, 240) solid 1px;
    text-align: center;
    margin: auto 70% 20px;
    letter-spacing: 0.1em;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s all ease-in-out;
}


.button-landing-page:hover{
  position: relative;
  vertical-align: middle;
  width: 150px;
  height: 50px;
  letter-spacing: 0.3em;
  
  padding-left: 30px;

}

.button-landing-page::before{
display: block;
content: "";
position:absolute;
width: 0;
height: 1px;
bottom: 50%;
left: 10px;
background-color: rgb(3, 193, 240);
visibility: hidden;
transition: all 0.3s ease-in-out;

}



.button-landing-page:hover:before {
visibility: visible;
width: 30%;
margin-left: -30px;
}
/***********Google calendar******/
.landingPageGalleryContentContainer-calendar{
  
  display: flex;
  text-align: left;
  flex-flow: column wrap;
  margin: auto;
  align-items: center;
  text-align: center;
  margin: 0%;
  padding: 0%;
  padding-top: 100px;
}

.calendar-landing-page{
  background-color: #ececec00;
  margin: 0%;
  padding: 0%;
}


.calendar-landing-page h3{
  color: white;
}


@media (max-width: 1200px) {
  iframe{
   width: 370px;
   height: 370px;
   overflow: hidden; 
  } 



  .landingPageGalleryContentContainer-calendar{
    width: 370px;
    margin: auto;
    overflow: hidden;
  }

  

}

.margin-gallery{
  margin-bottom: 100px;

color: #23242200;
}


/************Landing page contact**************/

.contact{
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
  z-index: 10;
  background: #ffffff;
  margin-bottom: 100px;
}

.formtypes{
  padding: 10px;
  
  
}
  input::placeholder{
  visibility: hidden; 
}


textarea::placeholder{
  visibility: hidden; 
}

  label{
  position:absolute;
  background-color:white;
  margin-top: -10px;
  margin-left: 20px;
  padding-left: 4px;
  padding-right: 3px;
}

.name-and-email-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  padding: 0%;
  margin: 0%;
}

input[type=email]{
  -webkit-appearance: none;
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: rgb(114, 201, 223) solid 1px;
}

input[type=email]:focus{
  border: none;
  outline: none;
}

input{
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #232422;
  font-size: 20px;
  letter-spacing: 0.1em;
}

input[type=text]{
  -webkit-appearance: none;
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: rgb(114, 201, 223) solid 1px;

}
input[type=text]:focus{
  border: none;
  outline: none;
  
}

input[type=message]{
  -webkit-appearance: none;
  width: 600px;
  height: 50px;
  background-color: transparent;
  border: none;
}


.msg input[type=text] {
  -webkit-appearance: none;
  width: 764px;
  height: 50px;
  background-color: transparent;
  justify-content: center;
}


.msg{
  
  display: flex;
  justify-content: center;
}

.textarea-contact{
  -webkit-appearance: none;
  width: 630px;
  height: 50px;
  background-color: transparent;
  justify-content: center;
  border: rgb(114, 201, 223) solid 1px;
  margin-bottom: -13px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #232422;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.2em;
}

textarea:focus{
  border: none;
  outline: none;
}


.textareaContainer{
  
  width: 100%;
}


.formtypes-textarea-and-button{
  display: flex;
  padding: 10px;
  
}


.button-landing-page-contact{
  -webkit-appearance: none;
    height: 30px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: rgb(3, 193, 240) solid 1px;
    padding: 0%;
    margin: auto;
    align-items: center;
    transition: 0.3s all ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;  

} 




.button-landing-page-contact:hover{
  position: relative;
  vertical-align: middle;
  width: 110px;
  letter-spacing: 0.3em;  
  padding-left: 10px;

}

.button-landing-page-contact::before{
display: block;
content: "";
position:absolute;
width: 0;
height: 1px;
bottom: 50%;
left: 10px;
background-color: rgb(3, 193, 240);
visibility: hidden;
transition: all 0.3s ease-in-out;

}



.button-landing-page-contact:hover:before {
visibility: visible;
width: 20%;
margin-left: -20px;
}
/*********Landing Page: Gallery ***************/



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 500px;
  width: 100%;
  object-fit: cover;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.swiper-wrapper{
  margin-bottom: 50px;
}

.swiper-button-prev {
  color: rgb(239,237,238) !important;
}

.swiper-button-next {
  color: rgb(239,237,238) !important; 

}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(0, 204, 255);
  opacity: 30%;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(0, 204, 255);
  opacity: 100%;

}

.slide{
    box-shadow: inset 0 0 10px 10px rgba(12, 111, 141, 0.151);
    display: block;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    filter: grayscale(50%);
}

.sideZ1:hover{
  z-index: 1;
}


.sideZ2:hover{
  z-index: 2;
}

.sideZ3:hover{
  z-index: 3;

}


.slide {
    border: transparent solid 10px;
 
}

.slide:hover{
    transform: scale(2);
    box-shadow: none;
    filter: grayscale(0%);

}

/*******Scroll up button********/


.scroll-up-button-container{
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0px;
  margin-right: 20px;
  text-align: end;
  background-color: white;
}
.scroll-up-button-container a{
  text-decoration: none;

}
.scroll-up-button-container img{
  max-width: 70px;

}


.scroll-up-button img:hover{
 
  -webkit-filter: drop-shadow(0px 0px 1px rgb(223, 223, 223));
  filter: drop-shadow(0px 0px 1px rgb(223, 223, 223)); 
  
}

.scroll-up-button img:active{
 
  -webkit-filter:drop-shadow(2px 2px 1px rgb(128, 128, 128)); ;
  filter: drop-shadow(2px 2px 1px rgb(128, 128, 128)); 
  
}

/*********Subscribe to our family magazine*************/

#book{
    margin: 5% auto;
    width: 800px;
    height: 400px;
}

#book .turn-page{
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}





.subscribeContent{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: rgb(46, 46, 46);
    background-color: white;
    background-repeat: repeat;
    margin-top: 0%;
    overflow: hidden;
    margin-bottom: 0%;
    background-image: url(images/casualeentsbcg.svg);
    background-repeat: no-repeat;
    background-position: top;
}

.subscribeContent h2 {
    margin: 7px;
    letter-spacing: 0.3rem;

}

.subscribeContent p{
    padding: 0%;
    margin: 7px;
    text-align: left;
    letter-spacing: 0.2rem;
    z-index: 10;
}


.subscribeText{
  background-color: white;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 10px;
}

.turn-the-page{
    margin-top: -7%;
    padding-top: 0%;
    margin-left: auto;
    margin-right: 15%;
   }

   .coupon-in-subscribe{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
   }

   .coupon-in-subscribe a{
    text-decoration: none;
    color: aqua;
   }

   .coupon-in-subscribe a:hover{
    color: rgb(0, 174, 243);

   }


/**************************/
.aboutUsContent{
    display: flex;
    padding-top: 150px;
    flex-flow:row ;
    text-align: left;
    font-size: larger;
    color: rgb(46, 46, 46);
    background-color: rgb(255, 255, 255);
    background-image: url(images/casualeentsbcg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 20px;
    letter-spacing: 0.1em;
    margin-left: auto;

}
.ceoContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: auto;
}

.ceoContainer a{
  font-weight:bolder;
  padding-top: 10px;
  background-color: #ffffff;
  max-width: 300px;
  padding-left: 10px;

}

.imgceo{
  max-width: 300px;
  height: 200px;
  padding-left: 10px;
}

.aboutUsContentInner{
  padding-left: 50px;
  z-index: 10;
  max-width: 800px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  margin-right: 0%;
}

.aboutUsContent h2{
  text-align: center;
}

/************MENU  ********/
.menuContents{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    background-repeat: repeat;
    margin: auto;
    justify-content: center;
    letter-spacing: 0.3em;
  background-image: url(images/servicesbcg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #3c3c3c;

}

.menuContents li{
    list-style: none;
    justify-content: center;
    text-align: center;
    
}

.menuContents ul{
    padding-left: 0px;

}

.menuContents img{
    max-width: 150px;
    height: auto;
    margin-bottom: 0px;
    margin-bottom: 20px;
    align-self: center;
}

.menuInnerContainer{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-row: auto auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 100px;
    align-items: flex-end;

}

.menuInnerContainer a {
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    color: rgb(0, 174, 243);
    font-weight: 1000;

}

.menuInnerContainer a:hover{
  color: rgb(0, 235, 243);

}

.specifyPastaTypeInMenu{
    margin-top: 100px;
    margin-bottom: 50px;

}

.links{
    color: rgb(67, 163, 253);
    font-family: 'Times New Roman', Times, serif;
}

.links:hover{
  color: rgb(0, 173, 173)

}


.links-on-buttons{
  text-decoration: none;
  color: black;
}


.paragraphsInMenu{
    padding-left: 20px;
    padding-right: 20px;
}

.back-button-in-menu{
  position: fixed;
  margin-left: 10px;

}

.back-button-in-menu-main{
  position: fixed;

}

.back-button-in-menu img:active{
  -webkit-filter: drop-shadow(-1px -1px 4px  rgb(0, 200, 250));
}


.back-button-in-menu:hover{
  -webkit-filter: drop-shadow(-1px -1px 4px  rgba(0, 204, 255));
}


.back-button-in-menu img{
  height: 50px;

}



.back-button-in-menu-main{
  position: fixed;
  left: 0;
  margin-left: 20px;
}

.back-button-in-menu-main{
  position: fixed;

}

.back-button-in-menu-main img:active{
  -webkit-filter: drop-shadow(-1px -1px 4px  rgb(0, 200, 250));
}


.back-button-in-menu-main:hover{
  -webkit-filter: drop-shadow(-1px -1px 4px  rgba(0, 204, 255));
}


.back-button-in-menu-main img{
  height: 50px;

}
/***********MAIN DISHES******************/
.main-dishes-div{
    padding-top: 200px;
    margin: auto;
    text-align: center;
    color: rgb(46, 46, 46);
    padding-bottom: 100px;
    letter-spacing: 0.2em;

}

.main-dishes-div ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: 200px 200px 200px 200px;
    grid-column-gap: 70px;
    grid-row-gap: 50px;
    margin: auto;
    justify-content: center;
    padding: 0%;
    padding-left: 70px;
    padding-right: 70px;
}

.main-dishes-div li{
    list-style: none;
}

.images-for-meals{
    height: 150px;
    width: auto;
}


.name-of-meal-in-menu{
  font-size: 20px;
  font-weight: 1000;
}



/***********ORDERS************/

.orderContainer{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    margin: auto;
    padding-left: 20px;
    justify-content: space-between;
    padding-right: 140px;
    padding-left: 100px;
    background-image: url(images/bckgsmaller.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    background-color: #3c3c3c;
    letter-spacing: 0.2em;
}


.orderForm{
    display: flex;
    flex-direction: row;
    
}


.orderInformation{
    display: flex;
    flex-direction: column;
    z-index: 10;
}


.orderInformation h2{
  margin-bottom: 50px;
  margin-top: 0px;
  
}



.personalInformationForm{
    text-align: left;
    justify-content: left;
    padding-top: 0px;
    padding-bottom: 40px;
    
}

.personalInformationFormButton{
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-content: end;
}

.personalInformationFormButton button{
    -webkit-appearance: none;
    height: 30px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(3, 193, 240) solid 1px;
}

.personalInformationFormButton button:active:focus{
  background-color:rgb(114, 201, 223);
  border: rgb(114, 170, 223) solid 1px;

}

.personalInformationFormButton button:hover{
  background-color:rgba(114, 201, 223, 0.644);
}


/************ACTUAL FORMS*****************/
.personalInformationForm label{
  background-color: rgba(216, 216, 216, 0);
  border: rgb(114, 201, 223) solid 1px;
  border-bottom: white 1px solid;
  margin-top: -20px;
  margin-left: 0px;
}

input[type=email]{
    width: 360px;
    height: 50px;
    border: none;
    border: rgb(114, 201, 223) solid 1px;
    background-color: rgb(255, 255, 255);

}

input[type=email]:focus{
    border: rgb(3, 193, 240) solid 1px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.418);

}

input[type=text]{
    -webkit-appearance: none;
    width: 360px;
    height: 50px;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    border: rgb(114, 201, 223) solid 1px;


}
input[type=text]:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.418);
    border: rgb(3, 193, 240) solid 1px;

    
}

.textarea-orders{
    -webkit-appearance: none;
    width: 360px;
    height: 50px;
    color: black;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border: none;
    border: rgb(114, 201, 223) solid 1px;
   padding-left: 20px;
   padding-top: 10px;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   letter-spacing: 0.1em;
   
}

textarea:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.418);
    border: rgb(3, 193, 240) solid 1px;
  
}

/***********Dishes in Order NOW******************/

.containerAllOrders{
    display: flex;
    flex-direction: column;
    border: rgb(114, 201, 223) solid 1px;
    background-color: rgb(255, 255, 255);
    margin-right: 30px;
    margin-bottom: 50px;
    z-index: 10;
    max-width: 733px;

}

.singleDish{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;

}

.singleDishContents{
    display: flex;
    flex-direction: row;

}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.singleDish h3{
    padding-right: 10px;
    padding-left: 10px;
}

.singleDish p {
    padding-right: 10px;
    padding-left: 10px;
    font-size: large;

}

.singleDish img{
    height: 50px;
}

.cart{
    display: flex;
    flex-direction:column;
    font-size: larger;
    border: rgb(114, 201, 223) solid 2px;
    padding: 10px;
    margin-right: 20px;
    max-height: auto;
    width: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}


.cartItems{
	display: flex;
    flex-direction: column;
    gap:0px;
}

.cartItems button{
    background-color: rgba(255, 255, 255, 0.39);
    border: rgb(114, 170, 223) solid 1px;
    margin-bottom: 50px;
    width: 100px;
    align-self: center;
}

.cartItems button:hover{
  background-color:   rgb(114, 201, 223);
}

.cartItems button:active{
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(153, 229, 248) solid 1px;
}

button:disabled:hover{
  background-color: #1f1f1f00;
}

.total{
    position: absolute;
	font-size: 25px;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.quantityOrder{
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 30px;
    margin-left: 150px;
}

.buttonAddToCart{

    text-align: center;
    width: 100px;
    width: 100px;
    height: 53.5px;
    background-color: rgba(55, 226, 21, 0);
    border: none;
    border: rgb(114, 201, 223) solid 1px;
}

.buttonAddToCart:focus:active{
  background-color:rgb(114, 201, 223);

}


.buttonAddToCart:hover{
  background-color:rgba(114, 201, 223, 0.644);
}

.chooseTypeOfDish{
    display: flex;
    flex-direction: row;
}

.chooseTypeOfDish a{
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(114, 201, 223) solid 1px;
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-size: larger;
    height: 50px;
    width: 120px;
    text-align: center;
}

.chooseTypeOfDish a:hover{
  color: rgb(255, 255, 255);
  background-color:rgb(114, 201, 223);
}


input[type=number]{
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.281);
    border: none;
    border: rgb(114, 201, 223) solid 1px;
}


.allDishesInOrders{
    max-height: auto;
    padding-right: 10px;
    overflow-x: hidden;
}
.allDishesInOrders p{
    padding-left: 15px;
}

.vanillaOrChocoP{
    padding-left: 15px;

}
/*****************************/


button:disabled:active{
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(114, 201, 223) solid 1px;
}

::placeholder{
    color: rgb(204, 204, 206);
}

.hide{
    display: none;
}


/*********Scrolling animations*********/

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }

  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
   
  .js-scroll.scrolled {
    opacity: 1;
  }


  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
  }

  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }
   
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
   
  @keyframes slide-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  
/*********************/

.hamburgerContainerForDesktop {
    width: 100px;
    height: 70px;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 101;
    left: 0px;
    margin-right: 10px;
  }

  
  .hamburgerForDesktop {
    display: flex;
    flex-direction: column;
    width: 80px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 15px;
    margin: 10px;

  }
  .hamburgerContainerForDesktop span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(29, 149, 197, 0.877);
    border-radius: 3px;
    height: 5px;
    background: #fff;
    transition: all .3s;
    position: relative;
    
  }
  
  .spanforPC + .spanforPC{
    margin-top: 18px;
  }
  
  .active  .spanforPC:nth-child(1) {
    animation: ease .7s topp forwards;
  }
  
  .notActive .spanforPC:nth-child(1) {
    animation: ease .7s topp-2 forwards;
  }
  
  .active .spanforPC:nth-child(2) {
    animation: ease .7s scaledp forwards;
  }
  
  .notActive .spanforPC:nth-child(2) {
    animation: ease .7s scaledp-2 forwards;
  }
  
  .active .spanforPC:nth-child(3) {
    animation: ease .7s bottomp forwards;
  }
  
  .notActive .spanforPC:nth-child(3) {
    animation: ease .7s bottomp-2 forwards;
  }
  
  @keyframes topp {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 22px;
      transform: rotate(0);
    }
    100% {
      top: 22px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes topp-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottomp {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 22px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottomp-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaledp {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaledp-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }


  .swiper-in-landing-page-container{
    background-color: transparent !important;
  }



.nav-links-container-in-bot-nav-bar{
  z-index: 100;
}




.broken-links-container{
  display: none;
}

.broken-links-container.show{
  display: flex;
  background-color: #232422;
  color: white;
  height: 70vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0%;
  padding-top: 0%;
  flex-direction: column;
  padding-top: 200px;
}

.broken-links-container p{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  width: 500px;
  margin: 10px;
}










  
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
  @media only screen and (max-width: 900px){


/*****************First page******************/

.homeButtonToHide{
    display:initial;

}



#header-img{
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 300px;
    overflow: hidden;
}


/******Gallery******/

.slide{
  width: 150px;
  height: 150px;
  overflow: hidden;

}

.slide:hover{
  transform: scale(1.2);
  box-shadow: none;
  filter: grayscale(0%);

}

.slide-track{
  height: 180px;
  width: 350px;
  overflow: hidden;
  padding-right: 0%;
  margin-right: 0%;
  padding-left: 0%;
  margin-left: 0%;
}

.slider{
  overflow: hidden;

}

.galery-container{
  margin: auto;
  width: 350px;
  overflow: hidden;
  padding-right: 0%;
  margin-right: 0%;
  padding-left: 0%;
  margin-left: 0%;

}


/*****************Bot Navbar*******************/



  .bot-nav-bar-container {
   
    flex-flow: row wrap;
  }
  a.bot-nav-link{
    font-family: 'Times New Roman', Times, serif;    
    font-size: 20px;
    

}

.hamburgerContainerForDesktop{
    display: none;
}

.hamburgerForDesktop{
  display: none;

} 


.nav-links-container-in-bot-nav-bar{
    display: none;
    
}
/***************** Footer ***********************/
.FooterAllULcontainer{
    flex-direction: column;
    margin-bottom: 20px;
}

.logoInFooter{
    padding: 0%;
    margin: auto;
    padding-top: 60px;
}

.footerUL h3{
    margin-top: 10px;
    margin-bottom: 10px;

}

.footerUL{
border-right: 0;
padding-right: 0px;
margin: auto;
margin: 0%;
align-items: left;
width: 70%;
border-top: rgb(0, 204, 255) solid 1px;
padding-bottom: 10px;

}

.mainfooter p {
  width: 100%;
  padding-top: 10px;
  border-top: rgb(0, 204, 255) solid 1px;
}

.bordertopNoneOnFooter{
    border-top:0;
}

/******************Menu************************/

.menuInnerContainer{
    display: flex;
    flex-direction: column;
}

.menuInnerContainer a{
    display: flex;
    flex-direction: column;
}

.menuInnerContainer img{
    padding-bottom: 20px;

}

.main-dishes-meals{
    flex-direction: column;
}

.main-dishes-div ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding: 0%;
}

    
.main-dishes-meals img{
    height: 150px;

}

.back-button-in-menu{
  position: fixed;
}


/************orders**********/


.orderContainer{
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0%;
    margin: 0%;
    padding-top: 150px;
    padding-right: 10px;
    padding-left: 10px;
}

.orderForm{
flex-direction: column;
}

.orderInformation{
    margin: auto;

}


.orderInformation h2{
  margin-top: 50px;
  padding-bottom: 20px;
  color: white;
  border-bottom: 1px solid rgb(114, 201, 223);
  text-align: center;
}

.textarea-orders{
  background-color: transparent;
  color: white;
}


.personalInformationFormButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    
}

.personalInformationForm input[type=text]{
  color: white;
}
.personalInformationForm input[type=email]{
  color: white;

}


.personalInformationForm::placeholder{
  color: white;

}

.containerAllOrders{
  flex-direction: column;
  overflow-x: none;
  width: 360px;
  margin: auto;
  margin-bottom: 50px;
}


.allDishesInOrders{
  overflow-x: none;
  margin: 0px;
  padding-right: 2px;
  padding-left: 2px;
  
}

.chooseTypeOfDish{
   
    display: grid;
    grid-template-columns: repeat(3,120px);  
    grid-template-rows: repeat(2,50px);
}


.chooseTypeOfDish a{
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(114, 201, 223) solid 1px;
    text-decoration: none;
    font-size: larger;
    height: 50px;
    width: 120px;
    text-align: center;
    color: #1f1f1f;
    font-weight: 1000;

  }

.actions input{
    margin: 0px;
}

.singleDish{
    justify-content: left;
    flex-direction: column;
}

.buttonAddToCart{
    margin-left: 5px;
    margin-right: 5px;
    height: 34px;
    width:60px;
}


input[type=number]{
    height: 30px;
    width:40px
}

.cart{
    padding: 0px;
    margin: auto;
    width: 360px;
    margin-bottom: 20px;
}

.textarea-orders{
  width: 300px;
  border: none;
  border-bottom: rgb(114, 201, 223) solid 1px;
}


/************HAMBURGER*****************/

.hamburgerContainer {
    margin: auto;
    width: 60px;
    height: 50px;
    background: transparent;
    display: flex;
    position: fixed;
    top: 15px;
    right: 15px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 101;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

  }
  
  span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 8px;
    background: #fff;
    transition: all .3s;
    position: relative;
  }
  
  span + span {
    margin-top: 14px;
  }
  
  .active span:nth-child(1) {
    animation: ease .7s top forwards;
  }
  
  .notActive span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  
  .active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }
  
  .notActive span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  
  .active span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }
  
  .notActive span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }
  
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 22px;
      transform: rotate(0);
    }
    100% {
      top: 22px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 22px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }



  .logo{
      display: none;
  }

.nav-bar{
    display: none;
    position: fixed;

}


a.nav-link{
    position: relative;
    text-decoration: none;
    color: rgb(50, 51, 53);
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    letter-spacing: 0.3em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a.nav-link:hover{
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 rgb(202, 202, 202), 1px -1px 0 rgba(0, 0, 0, 0.452), -1px 1px 0 rgba(8, 0, 0, 0.699), 1px 1px 0 rgb(12, 10, 10);
    font-size: 24px;
    letter-spacing: 0.4em;

}

.nav-bar.show{
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    text-decoration: none;
    padding: 0%;
    background: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur( 10.5px );
    padding-top: 0px;
    height: 100vh;
    justify-content: center;
    text-align: center;

}

.nav-bar.show ul{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0%;
    padding: 0%;

}



/*********Landing page*******/

.images-landing-page img{
    padding: 0px;

}


.images-landing-page{
    text-align: center;
    
}


.landingPageGalleryContentContainer{
  padding: 0px;
}

.landingPageGalleryContainer{
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0%;
  margin-right: 0%;
}

@media (max-width: 600px) {


.landingPageGalleryContainer img{
  max-width: 100%;
}
}
/***********Suubscribe******/

.turn-the-page{
    margin-top: -5%;
    padding-top: 0%;
    margin-left: auto;
    margin-right: 0;
   }

   .coupon-in-subscribe{
   font-size: 20px;
   text-align: center !important;
}


.swiper-wrapper{
  padding: 0%;
  margin: 0%;
  margin-bottom: 30px;
}

.swiper-wrapper img {
  height: 300px;
  width: auto;
}

.swiper-button-prev:hover {
  color: rgb(239,237,238) !important;
}

.swiper-button-next:hover {
  color: rgb(239,237,238) !important; 

}
.swiper-button-prev {
  color: rgba(239, 237, 238, 0.123) !important;
}

.swiper-button-next {
  color: rgba(239, 237, 238, 0.123) !important;

}


.button-landing-page-casual{
  -webkit-appearance: none;
    height: 30px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: rgb(3, 193, 240) solid 1px;
    text-align: right;
    margin: auto 70% 20px;
    
}

.button-landing-page-calendar{
  margin: auto ;
  margin-top: 20px;
}


.button-landing-page-casual{
  margin: auto;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.button-landing-page{
  margin: auto;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  padding-right: 0px;
}

/************Contact landing page***************/



.contact{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  }

  .name-and-email-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  align-items: center;

  }

  .msg{
  display: flex;
  flex-direction:column;
  align-items: center;

  }

  .textareaContainer{
      display: flex;
      flex-direction:column;
      justify-content: center;
      padding: 0%;
      margin: 0%;
      overflow: hidden;
      align-items: center;

  }

  .formtypes-textarea-and-button{
  display: flex;
  flex-direction: column;
  }

  .button-landing-page-contact{
  margin-top: 20px;  
  margin-left: 68%;
}

  .textarea-contact{
    margin-bottom: 0px;
   
  }


  input[type=email]{
  -webkit-appearance: none;
  max-width: 300px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: rgb(114, 201, 223) solid 1px;
  }

  input[type=text]{
      -webkit-appearance: none;
      max-width: 300px;
      height: 50px;
      color: black;
      background-color: transparent;
      border: none;
      border-bottom: rgb(114, 201, 223) solid 1px;

  }


  .msg input[type=text] {
      -webkit-appearance: none;
      max-width: 300px;
      height: 50px;
      color: black;
      background-color: transparent;
      justify-content: center;
  }


  .textarea-contact{
      -webkit-appearance: none;
      max-width: 300px;
      height: 50px;
      color: black;
      background-color: transparent;
      justify-content: center;
      border: none;
      border-bottom: rgb(114, 201, 223) solid 1px;
      
  }


  input::placeholder{
    visibility:visible; 
  }
  
  label{
    display: none;
  }

  textarea::placeholder{
    visibility:visible; 
  }

/*****************************************/


  
.container-landing-page-bck-black-contact{

  padding-top: 50px;
  padding-bottom: 0px;

}

.broken-links-container.show{
  height: 50vh;
  padding-top: 200px;
}

.broken-links-container p{ 
  font-size: 25px;
  width: 350px;
  margin: 10px;
}
/********About us********/
.aboutUsContent{
  flex-direction: column;

}

.ceoContainer{
margin: auto;
flex-direction: column;
padding-left: 0%;
margin: 0%;

}
.imgceo{
  padding: 0%;
  margin: auto;
  padding-left: 0%;

}
.aboutUsContentInner{
  padding-left: 20px;
  padding-right: 20px;
}
.ceoContainer a{
  max-width: 100%;
}

}