body{
    font-family: 'Times New Roman', Times, serif;
    background-color: RGB(249, 250, 251);
    margin: 0%;
    padding: 0%;
    background-image: url(images/3378467.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(204, 204, 206);
}

html {
    scroll-behavior: smooth;
  }
  
#header{
    
    display: flex;
    flex-direction: column;
}

.banner{
    background-image: url(images/pexels-myhqworkspaces-5444190.jpg);
    height: 600px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0%;
    

}

.totalNone{
    display: none;
}

.banner img{
    position: relative;
    align-items: center;
    margin: auto;
    margin-top: 300px;
}


.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    font-size: larger;
    text-transform:uppercase;
    text-decoration:overline solid;
    text-decoration-color: RGB(249, 115, 22);
    text-decoration-thickness: 4px;
    background-color: transparent;    
    position: fixed;
    padding: 0%;
    z-index: 100;
    width: 100%;

}


.bot-nav-bar{
  
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 0%;
    align-items:center;
    font-size: larger;
    text-transform:uppercase;
    text-decoration:overline solid;
    text-decoration-color: RGB(249, 115, 22);
    text-decoration-thickness: 4px;
    background-color: rgba(155, 155, 155, 0.418);    
    width: 100%;

    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    padding: 10px;
}

#header-img{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 600px;

}



.nav-bar a{
    padding: 0%;
    margin: 0;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.nav-bar ul{
    display:flex;
    flex-direction: row;
    padding: 0%;
    margin:0px;

}

.nav-bar li{
list-style: none;
padding: 1em;
}



.bot-nav-bar a{
    padding: 0%;
    margin: 0;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.bot-nav-bar ul{
    display:flex;
    flex-direction: row;
    padding: 0%;
    margin:0px;

}

.bot-nav-bar li{
list-style: none;
padding: 1em;
}
    
.logo{
    max-width: 130px;
    padding-left: 10px;
    background-color: transparent;
    position: relative;
    align-items: center;
    

}

.logo {
    background-color: transparent;
    -webkit-filter: drop-shadow(-1px -1px 4px white);

}


.navItems:hover{
    -webkit-filter: drop-shadow(1px 2px 1px rgb(0, 187, 1710));
    filter: drop-shadow(1px 2px 1px rgb(249, 115, 22)); 
}

.logo:hover {
-webkit-filter: drop-shadow(0px 0px 5px rgb(249, 115, 22));
  filter: drop-shadow(0px 0px 5px rgb(249, 115, 22));
}

.mainfooter{
    background-color: rgba(155, 155, 155, 0.418);    
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}

.mainfooter p{
    position: relative;
    align-items: center;
    text-align: center;
    font-size: 20px;
}


a.nav-link{
    position: relative;
    text-decoration: none;
    color: rgb(249, 115, 22);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    

}

a.nav-link:before{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: rgb(249, 115, 22);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

a.nav-link:hover:before {
    visibility: visible;
    width: 100%;
  
  }

  
input[type=email]:focus{
    border: none;
    outline: none;
}


input[type=email]{
    -webkit-appearance: none;
    width: 300px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    border-bottom: rgb(223, 114, 114) solid 1px;
    font-size: larger;
    
}


input[type=submit]{
    color: rgba(0, 0, 0, 0.651);
    border: rgb(201, 12, 12) solid 1px;
    background-color: rgb(255, 255, 255);
    height: 30px;
}

#form label{
    color: white;
    display: flex;
    padding: 0px;
    margin: auto;
}



#form{
    padding: 0px;
    margin-top: 30px;
    margin: auto;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
}


p.underlinewooshContact{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

p.underlinewooshContact:before{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 3.5px;
    bottom: 0px;
    left: 0;
    background-color: rgb(143, 23, 2);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

p.underlinewooshContact:hover:before {
    visibility: visible;
    width: 100%;
  }

  .videoContainer{
      display: flex;
      align-items: center;
      text-align: center;
    
  }

  iframe{
    margin-bottom: 30px;
    margin-top: 0px;
    padding-left: 0px;
    height: 500px;
} 


.subscribeContent{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    color: rgb(204, 204, 206);
    background-image: url(images/3378467.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutUsContent{
    display: flex;
    padding-top: 150px;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    color: rgb(204, 204, 206);
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(images/3378467.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.menuContents{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    padding-bottom: 200px;
    color: rgb(204, 204, 206);
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(images/3378467.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    justify-content: center;
}

.menuContents li{
    list-style: none;
    justify-content: center;
    text-align: center;
}

.menuContents ul{
    padding-left: 0px;

}

.menuContents img{
    max-width: 250px;
    height: auto;
    margin-bottom: 0px;
    margin-bottom: 20px;
}

.menuInnerContainer{
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-row: auto auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 100px;
    align-items: flex-end;

}

.menuInnerContainer a {
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    color: rgb(204, 204, 206);
    display: flex;
    flex-direction: column;
}



/***********MAIN DISHES******************/
.main-dishes-div{
    padding-top: 200px;
    margin: auto;
    text-align: center;
    color: rgb(204, 204, 206);
    padding-bottom: 100px;
}

.main-dishes-div ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: 200px 200px 200px 200px;
    grid-column-gap: 70px;
    grid-row-gap: 50px;
    margin: auto;
    justify-content: center;
    padding: 0%;
    padding-left: 70px;
    padding-right: 70px;
}

.main-dishes-div li{
    list-style: none;
}

.images-for-meals{
    height: 150px;
    width: auto;
}






/***********ORDERS************/

.orderContainer{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    margin: auto;
    padding-left: 20px;
    justify-content: space-between;
    padding-right: 140px;
    padding-left: 100px;
}

.orderForm{
    display: flex;
    flex-direction: row;
}


.orderInformation{
    display: flex;
    flex-direction: column;
}

.personalInformationForm{
    text-align: left;
    justify-content: left;
    padding-top: 0px;
    padding-bottom: 20px;
}

.personalInformationFormButton{
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-content: end;

}
.personalInformationFormButton button{
    -webkit-appearance: none;
    height: 30px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(3, 193, 240) solid 1px;
}

.personalInformationFormButton button:active{
    background-color: rgba(255, 255, 255, 0.39);
    border: rgb(114, 170, 223) solid 1px;

}


/************ACTUAL FORMS*****************/


input[type=email]{
    width: 360px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.281);
    border: none;
    border: rgb(114, 201, 223) solid 1px;
    color: rgb(204, 204, 206);

}

input[type=email]:focus{
    border: rgb(3, 193, 240) solid 1px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.418);

}

input[type=text]{
    -webkit-appearance: none;
    width: 360px;
    height: 50px;
    color: black;
    background-color: rgba(255, 255, 255, 0.281);
    border: none;
    border: rgb(114, 201, 223) solid 1px;
    color: rgb(204, 204, 206);


}
input[type=text]:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.418);
    border: rgb(3, 193, 240) solid 1px;

    
}

textarea{
    -webkit-appearance: none;
    width: 360px;
    height: 50px;
    color: black;
    background-color: rgba(255, 255, 255, 0.281);
    justify-content: center;
    border: none;
    border: rgb(114, 201, 223) solid 1px;
    color: rgb(204, 204, 206);

}

textarea:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.418);
    border: rgb(3, 193, 240) solid 1px;

}

/***********Dishes in Order NOW******************/

.containerAllOrders{
    display: flex;
    flex-direction: column;
    border: rgb(114, 201, 223) solid 1px;
    background-color: rgba(255, 255, 255, 0.281);
    margin-right: 30px;
    margin-bottom: 50px;
   
}

.singleDish{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;

}

.singleDishContents{
    display: flex;
    flex-direction: row;

}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.singleDish h3{
    padding-right: 10px;
    padding-left: 10px;
}

.singleDish p {
    padding-right: 10px;
    padding-left: 10px;
    font-size: large;

}

.singleDish img{
    height: 50px;
}

.cart{
    display: flex;
    flex-direction:column;
    font-size: larger;
    border: rgb(114, 201, 223) solid 2px;
    padding: 10px;
    margin-right: 20px;
    max-height: auto;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.281);
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}


.cartItems{
	display: flex;
    flex-direction: column;
    gap:0px;
}

.cartItems button{
    background-color: rgba(255, 255, 255, 0.39);
    border: rgb(114, 170, 223) solid 1px;
    margin-bottom: 50px;
}

.cartItems button:active{
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(3, 193, 240) solid 1px;
}

.total{
    position: absolute;
	font-size: 25px;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.quantityOrder{
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 30px;
    margin-left: 150px;
}

.buttonAddToCart{
    text-align: center;
    width: 100px;
    -webkit-appearance: none;
    width: 100px;
    height: 53.5px;
    background-color: rgba(255, 255, 255, 0.281);
    border: none;
    border: rgb(114, 201, 223) solid 1px;
}

.buttonAddToCart:active{
    background-color: rgba(255, 255, 255, 0.39);
    border: rgb(114, 170, 223) solid 1px;

}


.chooseTypeOfDish{
    display: flex;
    flex-direction: row;
}

.chooseTypeOfDish a{
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(114, 201, 223) solid 1px;
    color: rgb(204, 204, 206);
    text-decoration: none;
    font-size: larger;
    height: 50px;
    width: 120px;
    text-align: center;
}

input[type=number]{
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.281);
    border: none;
    border: rgb(114, 201, 223) solid 1px;
}


.allDishesInOrders{
    max-height: auto;
    padding-right: 10px;
    overflow-x: hidden;
}
/*****************************/


button:disabled:active{
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(114, 201, 223) solid 1px;
}

::placeholder{
    color: rgb(204, 204, 206);
}

.hide{
    display: none;
}



/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
/**************RESPONSIVE***************/
  @media only screen and (max-width: 900px){


/*****************First page******************/
.banner{
    max-height: 500px;

}


#header-img{
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 300px;
    overflow: hidden;
}


.banner img{
    position: relative;
    align-items: center;
    margin: auto;
    margin-top: 240px;
    
}

/*****************Navbar*******************/


.bot-nav-bar ul{
    display: grid;
    grid-template-columns: repeat(3,130px); 
    grid-template-rows: repeat(2,50px); 
    gap: 10px;
    margin: 0px;

  }

.bot-nav-bar li{
    justify-content: stretch;
    padding: 0px;
    margin: 0px;
}

.bot-nav-bar{
    margin: auto;
    text-align: center;
    padding: 0%;
    padding-top: 30px;
    margin: 0px;
    overflow: hidden;
}
/******************Menu************************/

.menuInnerContainer{
    display: flex;
    flex-direction: column;
}

.menuInnerContainer a{
    display: flex;
    flex-direction: column;
}

.menuInnerContainer img{
    padding-bottom: 20px;

}

.main-dishes-meals{
    flex-direction: column;
}

.main-dishes-div ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding: 0%;
}

    
.main-dishes-meals img{
    height: 150px;

}




/************orders**********/

.orderContainer{
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0%;
    margin: 0%;
    padding-top: 150px;
    padding-right: 10px;
    padding-left: 10px;
}

.orderForm{
flex-direction: column;
}

.orderInformation{
    margin: auto;

}



.personalInformationFormButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.containerAllOrders{
    flex-direction: column;
    overflow-x: none;
    width: 360px;
    margin: auto;
    margin-bottom: 50px;

}


.allDishesInOrders{
    overflow-x: none;
    margin: 0px;
    padding-right: 2px;
    padding-left: 2px;
}

.chooseTypeOfDish{
   
    display: grid;
    grid-template-columns: repeat(3,120px);  
    grid-template-rows: repeat(2,50px);
}


.chooseTypeOfDish a{
    background-color: rgba(255, 255, 255, 0.281);
    border: rgb(114, 201, 223) solid 1px;
    color: rgb(204, 204, 206);
    text-decoration: none;
    font-size: larger;
    height: 50px;
    width: 120px;
    text-align: center;
   

  }

.actions input{
    margin: 0px;
}

.singleDish{
    justify-content: left;
    flex-direction: column;
}

.buttonAddToCart{
    margin-left: 5px;
    margin-right: 5px;
    height: 34px;
    width:60px;
}


input[type=number]{
    height: 30px;
    width:40px
}

.cart{
    padding: 0px;
    margin: auto;
    width: 360px;
    margin-bottom: 20px;
}


/************HAMBURGER*****************/

.hamburgerContainer {
    margin: auto;
    width: 100px;
    height: 100px;
    background: transparent;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    width: 80px;
    cursor: pointer;

  }
  
  span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 8px;
    background: #fff;
    transition: all .3s;
    position: relative;
  }
  
  span + span {
    margin-top: 14px;
  }
  
  .active span:nth-child(1) {
    animation: ease .7s top forwards;
  }
  
  .notActive span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  
  .active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }
  
  .notActive span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  
  .active span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }
  
  .notActive span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }
  
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 22px;
      transform: rotate(0);
    }
    100% {
      top: 22px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 22px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }


.videoContainer{
    flex-direction: column;
    padding: 20px;
}



  .logo{
      display: none;
  }

.nav-bar{
    display: none;

}

.nav-bar.show{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 100px;
    align-items: flex-end;
    text-decoration: none;
    padding: 0%;
}

.nav-bar.show ul{
    justify-content: right;
    flex-direction: column;
    text-align: right;
    margin: 0%;
    padding: 0%;

}

#home{
display: block;
}

}
